<div class="table_container reddit-mono-normal">
  <table>
    <thead>
      <tr>
        <th>Prodotto</th>
        <th>Prezzo</th>
        <th>Quantità</th>
        <th>Totale</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of cart ; track item){
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}€</td>
        <td>
          @if(!updatingItem || item.id != updatingItem.id){
          {{ item.quantity }}
          } @else if(updatingItem && item.id == updatingItem.id){
          <input
            type="number"
            [(ngModel)]="item.quantity"
            max="99"
            min="1"
            (change)="calcTotal(item)"
          />
          }
        </td>
        <td>{{ item.total }}€</td>
        <td>
          <button (click)="delItem(item)">
            <i class="fa-regular fa-trash-can"></i>
          </button>
          <button (click)="updItem(item)">
            @if(!updatingItem || item.id != updatingItem.id){
            <i class="fa-regular fa-pen-to-square"></i>
            } @else if (updatingItem && item.id == updatingItem.id){
            <i class="fa-regular fa-square-check"></i>
            }
          </button>
        </td>
      </tr>
      }
      <tr>
        <td></td>
        <td></td>
        <td>{{ totQty }} articoli</td>
        <td>{{ totPrice }}€</td>
      </tr>
    </tbody>
  </table>
  <button class="purchase reddit-mono-normal" [routerLink]="['/purchase']">
    Acquista
  </button>
</div>
