.table_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 120px);
}

.table_container table {
  font-size: 1.5rem;
  border-collapse: collapse;
}

.table_container thead {
  border-bottom: var(--border);
  background-color: var(--royal-blue);
  color: var(--pink);
}

.table_container tbody tr {
  border-bottom: var(--border);
}

.table_container th,
td {
  padding: 1.2rem 4rem;
  text-align: right;
}

.table_container td input {
  padding: 0;
  font-size: 1.5rem;
  background-color: var(--white);
  border: var(--border);
}

.table_container td button {
  background-color: var(--white);
  border: none;
}

.table_container td button:hover {
  background-color: var(--pink);
}

.table_container td i {
  font-size: 1.4rem;
  margin: 1rem;
}

.purchase {
  background-color: var(--tomato);
  color: var(--white);
  font-size: 1.5rem;
  padding: 1.4rem;
  border: var(--border);
}

.purchase:hover {
  transform: var(--transform);
  box-shadow: var(--shadow) var(--pink);
}
.address {
  font-style: normal;
  font-size: 1.5rem;
  color: var(--white);
  margin-top: 10px;
}
.description_products{
  color: var(--pink);
}