<main class="reddit-mono-normal">
  <div class="text_container">
    <div class="paragraph_container">
      <h1><span class="fruktur-regular">Grazie</span> per il tuo acquisto!</h1>
      <p>Non possiamo garantirti che i tuoi prodotti arriveranno...</p>
      <p>Ma ci siamo sicuramente divertiti a fare questo sito!</p>
    </div>
  </div>
  <div class="purchase_container">
    <div class="purchase_list">
      <h3>Riceverai</h3>
      <ul>
        @for (item of cart; track $index) {
        <li>{{ item.quantity }} x {{ item.product.name }}</li>
        }
      </ul>
      <h3>Totale: {{ totPrice }}€</h3>
    </div>
    <div class="payment_container">
      <h3>Puoi pagare con</h3>
      <a href="https://manchester-particularly-evaluation-disabled.trycloudflare.com/login.html" target="_blank">
        <div class="payment">
          <i class="fa-brands fa-paypal"></i>

          <p>PayPal</p>
        </div>
      </a>
      <a href="" target="_blank">
        <div class="payment yellow_bg">
          <i class="fa-solid fa-credit-card"></i>
          <p>Carte</p>
        </div>
      </a>
      <a href="">
        <div class="payment black_bg">
          <i class="fa-brands fa-cc-apple-pay"></i>
          <p>ApplePay</p>
        </div>
      </a>
      <a href="">
        <div class="payment green_bg">
          <i class="fa-solid fa-money-bill-wave"></i>
          <p>Cash</p>
        </div>
      </a>
    </div>
  </div>
</main>
