main {
  color: var(--white);
  background-color: var(--royal-blue);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  height: calc(100vh - 120px);
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.paragraph_container span {
  color: var(--pink);
  font-size: 3rem;
}

.paragraph_container span:hover {
  transform: var(--transform);
  text-shadow: var(--shadow) var(--tomato);
}

.purchase_container {
  color: var(--black);
  background-color: var(--white);
  border-left: var(--border);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.purchase_list h3 {
  border-bottom: var(--border);
  margin-bottom: 1rem;
}

.purchase_container ul {
  border-bottom: var(--border);
  padding-bottom: 1rem;
}

.purchase_container li {
  list-style: none;
}

.payment_container {
  width: 80%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.payment_container h3 {
  grid-column: 1 / span 2;
}

.payment_container a {
  color: var(--white);
  text-decoration: none;
}

.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-color: var(--royal-blue);
  padding: 0.4rem 3rem;
  border: var(--border);
  border-radius: 20px;
}

.payment:hover {
  transform: var(--transform);
  box-shadow: var(--shadow) var(--black);
}

.green_bg {
  background-color: green;
}

.black_bg {
  background-color: var(--black);
}

.yellow_bg {
  color: var(--black);
  background-color: var(--yellow);
}
