<div class="detail-container reddit-mono-normal">
  @if(product) {
  <div class="page-half right-border">
    <div class="info-container">
      <h1>{{product.name}}</h1>
      <h3 class="country">{{product.country}}</h3>
      <p>{{product.description}}</p>
      <h2 class="fruktur-regular price">{{product.price}}€</h2>
      <input class="reddit-mono-normal" type="number" min="1" max="99" [(ngModel)]="quantity" (change)="calcTotal()">
      <p>Total: {{total}}€</p>
      <button class="reddit-mono-normal" (click)="addItem()">Aggiungi al carrello</button>
      @if (added) {
      <div class="added_modal">Aggiunto!</div>
      }
    </div>
  </div>
  <div class="page-half colored-bg">
    <div class="img-container">
      <img src="{{product.linkImg}}" alt="foto di {{product.name}}">
    </div>
  </div>
  }
</div>