.detail-container {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-half {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: var(--border);
}

.colored-bg {
  background-color: var(--tomato);
}

.colored-bg:hover {
  animation: color-parade-bg 2000ms infinite steps(1);
}

.info-container {
  padding: 4rem;
  font-size: 1.2rem;
  max-width: 768px;
}

.info-container h1 {
  padding-bottom: 1rem;
}

.info-container h1:hover {
  animation: color-parade 2000ms infinite steps(1);
}

.info-container .country {
  color: var(--royal-blue);
  padding-bottom: 3rem;
}

.info-container p {
  padding-bottom: 3rem;
}

.info-container .price {
  color: var(--pink);
  font-size: 3rem;
}

.info-container input {
  font-size: 1.3rem;
  padding: 0.3rem;
  margin: 1rem 0;
}

.info-container button {
  color: var(--white);
  background-color: var(--tomato);
  border: var(--border);
  font-size: 1.1rem;
  padding: 1.4rem;
}

.info-container button:hover {
  transform: var(--transform);
  box-shadow: var(--shadow) var(--pink);
}

.added_modal {
  display: inline;
  color: var(--black);
  background-color: var(--yellow);
  border: var(--border);
  padding: 1rem;
  margin-left: 2rem;
}

.img-container {
  width: 90%;
  overflow: hidden;
  border: var(--border);
  border-radius: 3em;
}

.img-container img {
  height: 100%;
  max-height: 960px;
  width: 100%;
  object-fit: cover;
}

/* ANIMATIONS */

@keyframes color-parade {
  0% {
    color: var(--royal-blue);
  }

  25% {
    color: var(--tomato);
  }

  50% {
    color: var(--yellow);
  }

  75% {
    color: var(--pink);
  }
}

@keyframes color-parade-bg {
  0% {
    background-color: var(--royal-blue);
  }

  25% {
    background-color: var(--tomato);
  }

  50% {
    background-color: var(--yellow);
  }

  75% {
    background-color: var(--pink);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
