/* You can add global styles to this file, and also import other style files */

/* VARIABLES */

:root {
  --black: #000;
  --royal-blue: #035dff;
  --white: #fff;
  --pink: #ffb4ce;
  --yellow: #fff460;
  --tomato: #ff6541;
  --border: solid 1.1px var(--black);
  --transform: translate(-2px, -2px);
  --shadow: 4px 4px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reddit-mono-normal {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.fruktur-regular {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fruktur-regular-italic {
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: italic;
}

body {
  background-color: var(--white);
  color: var(--black);
}
