<main class="reddit-mono-normal">
    <div>
        <h2 class="fruktur-regular team">LA SQUADRA</h2>
        <h3>Venite a conoscere il nostro fantastico team</h3>
    </div>
    <div>
        <div class="row">
            <div class="column">
                <h3 class="nomi">Luca</h3>
                    <div class="lasdivinas">
                        <img [src]="'assets/img/Luca.jpg'" alt="foto_luca"/>
                    </div>
                <p>Capo mastro e Cavalier Cortese</p>
            </div>
            <div class="column">
                <h3 class="nomi">Daniela</h3>
                    <div class="lasdivinas">
                        <img [src]="'assets/img/dani.jpg'" alt="foto_daniela"/>
                    </div>
                <p>La Nottola di Ecate</p>
            </div>
            <div class="column">
                <h3 class="nomi">Matyas</h3>
                    <div class="lasdivinas">
                        <img [src]="'assets/img/Matyas.jpg'" alt="foto_matyas"/>
                    </div>
                <p>Maestro di spada</p>
            </div>
            <div class="column">
                <h3 class="nomi">Alessandro</h3>
                    <div class="lasdivinas">
                        <img [src]="'assets/img/ale.jpg'" alt="foto_alessandro"/>
                    </div>
                <p>Maestro delle cerimonie</p>
            </div>
        </div>
    </div>
</main>