main {
    color: var(--pink);
    
    background-color: var(--royal-blue);
    font-size: 1.3rem;
    align-items: space-evenly;
    height: calc(100vh - 120px);
  }

h2, h3, p {
    text-align: center;
}

.nomi {
    color:black
}

.row {
    display: -webkit-flex;
    display: flex;
    height: 60vh;
}

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%; /* Should be removed. Only for demonstration */
    background-color: var(--royal-blue);
}

.team {
    height: 5vh;
}

.lasdivinas {
    margin: auto;
    width: 75%;
    height: 75%;
    overflow: hidden;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 2px solid black;
}