header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pink);
  padding: 1.3rem;
  border-bottom: solid 1.1px var(--black);
}

h1 {
  font-family: "Fruktur", monospace;
  font-size: 4rem;
  color: var(--tomato);
}

h1:hover {
  transform: var(--transform);
  text-shadow: var(--shadow) var(--yellow);
}

.header-icons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  width: 20%;
}

.header-icons button {
  background-color: var(--yellow);
  color: var(--black);
  border: solid 1.1px var(--black);
  padding: 0.6rem;
  font-size: 1.3rem;
}

.header-icons button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px var(--black);
}

.cart_icon_cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.cart_icon_cont:hover {
  transform: translate(-2px, -2px);
  text-shadow: 4px 4px 0px var(--tomato);
}

.cart_icon_cont p {
  position: absolute;
  justify-self: left;
  align-self: flex-start;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  color: var(--white);
  background-color: var(--tomato);
  border-radius: 50%;
}

.cart_icon_cont i {
  font-size: 2.5em;
  color: var(--royal-blue);
}
