<header>
  <h1 class="fruktur-regular-italics" [routerLink]="['']">
    Divina's Instrument
  </h1>
  <div class="header-icons">
    <button [routerLink]="['catalog']" class="reddit-mono-normal red-button">
      Vai al catalogo
    </button>
    <div class="cart_icon_cont">
      @if (service.totalItems <= 0) { } @else { <p class="reddit-mono-normal">{{ service.totalItems }}</p>
        }
        <a [routerLink]="['cart']"><i class="fa-solid fa-bag-shopping"></i></a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>