main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 4rem;
  background-color: var(--yellow);
}

.catalog-header {
  width: 100%;
  max-width: 1000px;
}

h2 {
  font-size: 2.1rem;
  font-weight: 500;
}

.country_list {
  margin-top: 2rem;
  max-width: 1000px;
}

.country_list li {
  display: inline-block;
  min-width: 125px;
  text-align: center;
  background-color: var(--white);
  border: var(--border);
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 25px;
}

.country_list .selected {
  background-color: var(--pink);
}

.country_list li:hover {
  color: var(--white);
  background-color: var(--royal-blue);
}

.catalog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 1000px;
  margin-top: 4rem;
}

.catalog-grid::after {
  content: "";
  width: 100%;
}

.product-card {
  width: 100%;
  height: 450px;
  padding: 0rem;
  font-size: 1.2rem;
  color: var(--black);
  background-color: var(--royal-blue);
  border: solid 1px var(--black);
  transition-duration: 300ms;
}

.product-card:hover {
  transform: scale(102%);
  transition-duration: 210ms;
}

.product-card .img-container {
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1px;
  transition-duration: 300ms;
}

.img-container img:hover {
  transform: scale(105%);
  transition-duration: 210ms;
}

.product-card .info-container {
  display: flex;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: var(--pink);
}

.product-card .price {
  font-size: 2rem;
  color: var(--white);
}
