<main>
  <div class="catalog-header">
    <h2 id="catalog-title" class="reddit-mono-normal">Il nostro catalogo</h2>
  </div>
  <ul class="country_list reddit-mono-normal">
    <li (click)=" filterByCountry('none')">All</li>
    @for (country of countryList; track country){
    <li (click)="filterByCountry(country)" [ngClass]="country == filter ? 'selected' : '' ">{{country}}</li>
    }
  </ul>
  <div class="catalog-grid reddit-mono-normal">
    @for (product of catalog; track product) {
    <div class="product-card" (click)="goToDetail(product.id)">
      <div class="img-container">
        <img src="{{product.linkImg}}" alt="{{product.name}}">
      </div>
      <div class="info-container">
        <div class="text-container">
          <h4>{{product.name}}</h4>
          <p>{{product.country}}</p>
        </div>
        <p class="price fruktur-regular">{{product.price}}€</p>
      </div>
    </div>
    }
  </div>
</main>