header {
  background-color: var(--royal-blue);
  color: var(--yellow);
  padding: 20px;
  --shadow: 4px 4px 0px;
  --transform: translate(-2px, -2px);
  text-align: center;
}

  

footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 20px;
}

.divinas {
  z-index: 1;
  width: 100vw;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.left_contact img{
  padding: 30px;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.hero_img {
  padding: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.hero_img img {
  border: var(--border);
  border-radius: 125px;
}

.right_description {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px;
  background-color: var(--yellow);
}
.left_description {
  width: 50%;
  border-right: var(--border);
  padding: 100px;
  background-color: var(--pink);
}
.description {
  display: flex;
  justify-content: space-evenly;
  border-top: var(--border);
  border-bottom: var(--border);
}
.circle {
  background-color: var(--pink);
  border: var(--border);
  padding: 30px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  animation: circle 30s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle i {
  font-size: 4rem;
}
.social-section {
  text-align: center; 
  padding: 50px 0; 
  background-color: var(--royal-blue) 
}

.social-section h2 {
  margin-bottom: 20px; 
  font-size: 40px; 
}

.social-icons {
  display: flex;
  justify-content: center; 
}

.social-link {
  margin: 0 10px; 
  transition: transform 0.3s ease;
}


.social-link img {
  width: 40px; 
  height: 40px; 
}

.social-link:hover {
  transform: scale(3.0); 

}

.recenzione{
  font-style: "reddit-mono-normal";

}

.review {
  flex: 1 1 45%;
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 20px;
}
.review .author {

  margin-bottom: 10px;
}
.review .rating {
  color: var(--yellow);
  margin-bottom: 10px;
}
.review p {
  justify-content: center;
}
#indirizzo-negozio {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--black);
  margin: 20px auto;
  max-width: 600px;
}

#indirizzo-negozio h2 {
  margin-bottom: 10px;
}

#indirizzo-negozio p {
  margin-bottom: 5px;
}

#indirizzo-negozio strong {
  color: var(--black);
  
}

.slider {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.carousel {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
  font-size: medium;
  font-display: 20px;
}

.carousel-inner {
  display: flex;
  position: relative;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.slide h2 {
  margin-top: 0;
}

.slide p {
  font-style: var(--fruktur);
  color: var(--black);
}

.navigation {
  text-align: center;
}

.navigation label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}


input[type="radio"] {
  display: none;
}


input[type="radio"]:checked + .carousel-inner .slide {
  transform: translateX(0);
}

input[type="radio"]:checked + .carousel-inner .slide:nth-child(1) {
  transform: translateX(0);
}

input[type="radio"]:checked + .carousel-inner .slide:nth-child(2) {
  transform: translateX(-100%);
}

input[type="radio"]:checked + .carousel-inner .slide:nth-child(3) {
  transform: translateX(-200%);
}


input[type="radio"]:checked + .navigation label {
  background-color: var(--black);
}
.intro, .team {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.intro h2, .team h2 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.team a{
  color: var(--black);
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--royal-blue);
}
.team-member {
  text-align: center;

}
.intro{
  justify-content: center;
  align-items: center;

}

.reference img{
  
  display: block; /* Assicura che l'immagine abbia uno spazio vuoto sopra e sotto */
  margin-left: auto;
  margin-right: auto;
  border: var(--border);
  border-radius: 125px;
  
}
.ispirazione{
  text-align: center;
  margin-top: 0; 
}
.intro{
  background-color: tomato;
  padding: 100px;
  color: var(--white);
  display: flex;
 
}
.intro h2{
  color: var(--white);
  justify-content: center;
  align-items: center;
}
.intro a{
  color: var(--white);
}